<% column = [
             ['story','ストーリー'],
             ['game_system','システム'],
             ['graphic','グラフィック'],
             ['game_character','キャラ'],
             ['worldview','世界観']
            ] %>
            
<div class="row"></div>
  <%= render 'layouts/flash_messages' %>
<div class="row"></div>

<div id="game_show">
<%#------------------------------ここから左枠------------------------------%>
  <div id="game_show_left">
    <%= render 'games/creator', game: @game %>
  </div>
<%#------------------------------左枠ここまで------------------------------%>
<%#------------------------------ここから右枠------------------------------%>
  <div id="game_show_right">
    <div id="game_show_content">
      <table>
        <% column.each_with_index do |x, i| %>
          <tr><td class="game_show_reviewcount_label"><%= "#{x[1]}：" %></td><td><%= @game.stamps.where("#{x[0]}": true).count %></td>
          <% break if column.length == i %>
          </tr>  
        <% end %>
        </tr>
      </table>
      <p style="font-size: 20px; font-weight: bold;"><%= @game.title %></p>
      <% if logged_in? && current_user.id == @game.user.id %>
        <p><%= link_to edit_game_path(@game) do %><i class="fas fa-edit"></i><p>編集する</p><% end %></p>
      <% end %>
      <p><%= @game.url %></p>
      <p><% unless @game.icon.url.blank? %><%= image_tag (@game.icon.url) %><% end %></p>
      <p><%= @game.genre %></p>
      <p><%= @game.information %></p>
      <p><%= @game.play_time %></p>
      <p><% unless @game.icon.url.blank? %><%= image_tag (@game.intro_image1.url) %><% end %></p>
      <p><% unless @game.icon.url.blank? %><%= image_tag (@game.intro_image2.url) %><% end %></p>
      <p><% unless @game.icon.url.blank? %><%= image_tag (@game.intro_image3.url) %><% end %></p>
      <p><% unless @game.icon.url.blank? %><%= image_tag (@game.intro_image4.url) %><% end %></p>
    </div>
    
    <div id="game_show_stamp_area">
      <div class="textCenter">
        <h2>バッジを送る</h2>
        <p>特に良かったと思うものを選ぼう！(複数選択可)</p>
      </div>
      <div class="row"></div>
      <% if logged_in? %>
        <div id="game_show_stamp_area_stamps">
          <% column.each_with_index do |x, i| %>
            <%= form_with(model: current_user.stamps.build, local: true) do |f| %>
              <% if current_user.have_stamp?(@game) && current_user.stamps.find_by(game_id: @game.id).send("#{x[0]}") == true %>
                <%= hidden_field_tag :"#{x[0]}", false %>
                <% col_boolean = '_true' %>
              <% else %>
                <%= hidden_field_tag :"#{x[0]}", true %>
              <% end %>
              <%#= hidden_field_tag :game_id, @game.id %>
              <input type="hidden" name="game_id" value=<%= @game.id %>>
              <button class="game_show_stamp_part" id="part<%= i + 1 %><%= col_boolean %>" type="submit"><p><%= x[1] %></p></button>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="game_show_area_need_login">
          <p>バッジを送るには、ログインが必要です。</p>
          <p><%= link_to "ログインする", login_path %></p>
        </div>
      <% end %>
    </div>
    
    <div class="row32"></div>
    
    <div id="game_show_post_area">
      <div class="textCenter">
        <h2>コメント</h2>
        <p>作品の感想を気軽に投稿しよう！</p>
      </div>
        
      <div class="row"></div>
        
      <div id="game_show_post_area_post">
        <% if logged_in? %>
          <%= form_with(model: current_user.reviews.build, local: true, class: "form_general") do |f| %>
            <input type="hidden" name="game_id" value=<%= @game.id %>>
              
            <div class="game_show_post_area_left">
              <%= image_tag( current_user.profile_image.url.blank? ? "/assets/default.png" : current_user.profile_image.url ) %>
            </div>
              
            <div class="game_show_post_area_right">
              <div class="row-1">
                <p><%= current_user.nickname.present? ? current_user.nickname.truncate(18) + " さん" : "ナナシ さん" %></p>
              </div>
              <div class="row-2">
                <%= f.text_area :content %>
              </div>
              <div class="row-3">
                <%= f.check_box :spoiler %>
                <p>ネタバレを含む</p>
                <div style="width: 109px; height: 47px;">
                  <%= f.button '投稿する', type: 'button', onclick: 'submit();' %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="game_show_area_need_login">
            <p>コメントを投稿するには、ログインが必要です。</p>
            <p><%= link_to "ログインする", login_path %></p>
            <div class="row32"></div>
          </div>
        <% end %>
      </div>
    </div>
    
    <% @game.reviews.each do |review| %>
      <div id="anchor<%= review.id %>"></div>
      <div id="review_list">
        
        <div class="review_list_left">
          <%= image_tag( review.user.profile_image.url ) %>
        </div>
        
        <div class="review_list_right">
          
          <div class="review_list_right_top">
            <%= link_to user_path(review.user_id), class: 'review_list_right_top_nickname' do %>
              <p><%= review.user.nickname.present? ? "#{review.user.nickname.truncate(18)} さん" : "ナナシ さん" %></p>
            <% end %>
            <p><%= review.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
          
          <div class="review_list_right_middle">
            <% if review.spoiler? %>
              <div id="caution<%= review.id %>">
                <p class="spoiler">※ネタバレ※</p>
                <p>この感想には、作品のネタバレに関する記述が含まれています。</p>
                <p class="disp_review">
                  <button id="btn_click<%= review.id %>" class="btn_click"><i class="fas fa-caret-down"></i></button>
                  <a href="#" id="btn_click<%= review.id %>" class="btn_click" onclick="return false;">感想を表示する</a>
                </p>
              </div>
              <div id="tab<%= review.id %>" style="display: none">
                <pre class="<%= 'edited' if review.edited? %>"><%= review.content %></pre>
              </div>
            <% else %>
              <pre class="<%= 'edited' if review.edited? %>"><%= review.content %></pre>
            <% end %>
          </div>
          
          <div class="review_list_right_bottom">
            <% if logged_in? && review.user_id == current_user.id %>
              <%= link_to edit_review_path(id: review.id) do %><i class="fas fa-edit"></i><% end %>
                <%= form_with(model: current_user.reviews.find_by(id: review.id), local: true, method: :delete) do |f| %>
                  <button type="submit" onclick="return confirm('削除しますか？')"><i class="fas fa-trash-alt"></i></button>
                <% end %>
              <% end %>
              <% if logged_in? %>
                <% if current_user.likeit?(review) %>
                  <%= form_with(model: review.likes.find_by(review_id: review.id), local: true, method: :delete) do |f| %>
                    <input type="hidden" name="review_id" value=<%= review.id %>>
                    <%= button_tag type: 'submit' do %>
                      <i class="fas fa-heart fa-heart-on"></i>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= form_with(model: review.likes.build, local: true) do |f| %>
                    <input type="hidden" name="review_id" value=<%= review.id %>>
                    <%= button_tag type: 'submit' do %>
                      <i class="fas fa-heart fa-heart-off"></i>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <button onClick="disp()"><i class="fas fa-heart"></i></button>
              <% end %>
              <p><%= "#{review.likes.count}" %></p><p>いいね</p>
          </div>
          
        </div>
      </div>
    <% end %>
  </div>
<%#------------------------------右枠ここまで------------------------------%>
</div>
<div class="row32"></div>

<script>
$('.btn_click').click(function(){
  var id = $(this).attr('id');
  id = id.replace("btn_click", "");
  $('#caution' + id).hide();
  $('#tab' + id).show();
});

function disp(){
	window.alert('いいね！するには、ログインが必要です。');
}
</script>