<% column = [
             ['story','ストーリー'],
             ['game_system','システム'],
             ['graphic','グラフィック'],
             ['game_character','キャラ'],
             ['worldview','世界観']
            ] %>
<% column.each do |x| %>
<% x.push(@game.stamps.where("#{x[0]}": true).count) %>
<% end %>
            
<div class="row"></div>
  <%= render 'layouts/flash_messages' %>
<div class="row"></div>

<div id="game_show">
<%#------------------------------ここから左枠------------------------------%>
  <div id="game_show_left">
    <%= render 'games/creator', game: @game %>
  </div>
<%#------------------------------左枠ここまで------------------------------%>
<%#------------------------------ここから右枠------------------------------%>
  <div id="game_show_right">
    <%= render 'games/content', game: @game, column: column %>
    
    <div id="game_show_stamp_area">
      <%= render 'games/stamp', game: @game, column: column %>
    </div>
    
    <div class="row32"></div>
    
    <div id="game_show_post_area">
      <div class="textCenter">
        <h2>コメント</h2>
        <p>作品の感想を気軽に投稿しよう！</p>
      </div>
        
      <div class="row"></div>
        
      <div id="game_show_post_area_post">
        <% if logged_in? %>
          <%= form_with(model: current_user.reviews.build, local: true, class: "form_general") do |f| %>
            <input type="hidden" name="game_id" value=<%= @game.id %>>
              
            <div class="game_show_post_area_left">
              <%= image_tag( current_user.profile_image.url.blank? ? "/assets/default.png" : current_user.profile_image.url ) %>
            </div>
              
            <div class="game_show_post_area_right">
              <div class="row-1">
                <p><%= current_user.nickname.present? ? current_user.nickname.truncate(18) + " さん" : "ナナシ さん" %></p>
              </div>
              <div class="row-2">
                <%= f.text_area :content %>
              </div>
              <div class="row-3">
                <%= f.check_box :spoiler %>
                <p>ネタバレを含む</p>
                <div style="width: 109px; height: 47px;">
                  <%= f.button '投稿する', type: 'button', onclick: 'submit();' %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="game_show_area_need_login">
            <p>コメントを投稿するには、ログインが必要です。</p>
            <p><%= link_to "ログインする", login_path %></p>
            <div class="row32"></div>
          </div>
        <% end %>
      </div>
    </div>
    
    <% @game.reviews.each do |review| %>
      <div id="anchor<%= review.id %>"></div>
      <div id="review_list">
        
        <div class="review_list_left">
          <%= image_tag( review.user.profile_image.present? ? review.user.profile_image.url : "/assets/default.png" ) %>
        </div>
        
        <div class="review_list_right">
          
          <div class="review_list_right_top">
            <%= link_to user_path(review.user_id), class: 'review_list_right_top_nickname' do %>
              <p><%= review.user.nickname.present? ? "#{review.user.nickname.truncate(18)} さん" : "ナナシ さん" %></p>
            <% end %>
            <p><%= review.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
          
          <div class="review_list_right_middle">
            <% if review.spoiler? %>
              <div id="caution<%= review.id %>">
                <p class="spoiler">※ネタバレ※</p>
                <p>この感想には、作品のネタバレに関する記述が含まれています。</p>
                <p class="disp_review">
                  <button id="btn_click<%= review.id %>" class="btn_click"><i class="fas fa-caret-down"></i></button>
                  <a href="#" id="btn_click<%= review.id %>" class="btn_click" onclick="return false;">感想を表示する</a>
                </p>
              </div>
              <div id="tab<%= review.id %>" style="display: none">
                <pre class="<%= 'edited' if review.edited? %>"><%= review.content %></pre>
              </div>
            <% else %>
              <pre class="<%= 'edited' if review.edited? %>"><%= review.content %></pre>
            <% end %>
          </div>
          
          <div class="review_list_right_bottom" id="review_list_right_bottom_<%= review.id %>">
            <%= render 'games/review_list_right_bottom', review: review %>
          </div>
          
        </div>
      </div>
    <% end %>
  </div>
<%#------------------------------右枠ここまで------------------------------%>
</div>
<div class="row32"></div>

<script>
$('.btn_click').click(function(){
  var id = $(this).attr('id');
  id = id.replace("btn_click", "");
  $('#caution' + id).hide();
  $('#tab' + id).show();
});

function disp(){
	window.alert('いいね！するには、ログインが必要です。');
}
</script>