<div class="row"></div>
  <%= render 'layouts/flash_messages' %>
<div class="row"></div>

<%= form_with(model:@user, local: true, url: :password) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  　　<div><%= f.submit "変更" %></div>
<% end %>