<div>
  <%= link_to root_path do %><%= image_tag "logo_small.png", class: "form_logo" %><% end %>
  <div class="row"></div>
    <%= render 'layouts/flash_messages' %>
  <div class="row"></div>
</div>

<div class="password_edit">
  <%= form_with(model:@user, local: true, url: :password, class: 'form_general') do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
    <div>
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
    </div>
    
    <div class="row"></div>
    
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    
    <div class="row"></div>
    
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    
    <div class="row"></div>
    
   　<div class="password_submit">
      <%= f.button '変更する', type: 'button', onclick: 'submit();' %>
    </div>
  <% end %>
</div>